<section>

    <h1>Online Resume</h1>
    <p>Do you want to learn more about my experiences, education or interests? You'll find everything in my resume. If you click on the button below, you may download it as PDF.</p>

    <div class="btn-row">
        <a href="./files/resume-en.pdf" class="btn btn-primary" target="_blank">Download EN</a>
        <a href="./files/resume-cs.pdf" class="btn btn-secondary" target="_blank">Download CS</a>
    </div>

</section>

<hr class="resp-hidden">

<section class="resume-container">

    <iframe src="./files/resume-en.html" id="resume-frame" scrolling="no"></iframe>

</section>