<section class="title-box">

    <div class="title-text">
        <h1>Viktor Bem</h1>
        <h2>Self-taught Developer</h2>

        <p>Hi, my name is Viktor. Although I studied astrophysics, I decided to join my career with retail. But
            the world is changing, so today I'm intensively studying programming and I hope for a future
            application in this direction.</p>

        <div class="btn-row">
            <a href="/portfolio" class="btn btn-primary">View Portfolio</a>
            <a href="/resume" class="btn btn-secondary">View Resume</a>
        </div>
    </div>

    <div>
        <img src="./images/header.jpg" alt="Me and my family.">
    </div>

</section>

<hr>

<section>

    <h1>My Skills</h1>
    <p>Through my life I had learned many programming languages. I started with Basic on my first computer
        Commodore C64, later I used Pascal on my PC and C through my studies on University. But there are some
        tools I keep using over and over again, and that are HTML and CSS. Therefore I realized that web
        development is my path of choice.</p>

    <div class="skills">

        <div class="skill">
            <i class="fa fa-html5"></i>
            <i class="fab fa-css3-alt"></i>
            <h2>HTML & CSS</h2>
            <p>With some minor breaks I am developing websites for about 20 years now. Well, I don't consider
                myself a professional developer, but concerning the front end I think I know a lot. This website
                may be the proof.</p>
        </div>

        <div class="skill">
            <i class="fab fa-python"></i>
            <h2>Python & Flask</h2>
            <p>Python was my first weapon of choice when I started to learn programming again about a year ago.
                After some basic games I have dived deep into this language, with knowledge of Flask, Tkinter,
                BeautifulSoup, Selenium and more.</p>
        </div>

        <div class="skill">
            <i class="fab fa-js-square"></i>
            <h2>JavaScript</h2>
            <p>After few steps with Python I realized that there is yet another language for modern world, and
                its name is JavaScript. So I started to learn more about it and re-creating all my previous
                works in it. My next step will be Node JS.</p>
        </div>

        <div class="skill">
            <i class="fab fa-git-alt"></i>
            <h2>Git & GitHub</h2>
            <p>There is no propper development without any version control. Do you know that this tool
                called Git was developed by Linus Torvalds, the same man that established the foundation for
                Linux OS?</p>
        </div>

    </div>
    <div class="btn-row">
        <a href="/resume" class="btn btn-primary">View Resume</a>
    </div>

</section>

<hr>

<section>

    <h1>My Projects</h1>
    <p>Although I am still learning and developing my skills every single day, there are some projects that I
        consider (almost) finished and that I want to share with you. So here are some of them and you can find
        more in my Portfolio section. Have fun!</p>

    <div class="projects">

        <div class="project-card">
            <div class="project">
                <a href="https://malchikkcz.github.io/JS-minesweeper/" target="_blank">
                    <img src="./images/portfolio/minesweeper.png" alt="">
                </a>
                <div>
                    <h2>Minesweeper</h2>
                    <p>This was one of my first games when I was learning programming. First I made it as
                        text-based in Python and later used the same logic to re-create the same game in
                        JavaScript.</p>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project">
                <a href="https://malchikkcz.github.io/JS-breakout/" target="_blank">
                    <img src="./images/portfolio/breakout.png" alt="">
                </a>
                <div>
                    <h2>Breakout</h2>
                    <p>Do you know history of this game? It involves Pong, Steve Jobs, Steve Wozniak... But I
                        don't want to spoil it here. So here is my version of this game, build with vanilla JavaScript.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="btn-row">
        <a href="/portfolio" class="btn btn-primary">View Portfolio</a>
    </div>

</section>