<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/admin">Admin panel</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-0 ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" id="index" href="/admin">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="skills" href="/admin/skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="projects" href="/admin/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="jobs" href="/admin/jobs">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="logout" href="/admin/logout"><i class="bi bi-box-arrow-right"></i></a>
            </li>
        </ul>
    </div>
</nav>
