<section>

    <h1>My Portfolio</h1>
    <p>Welcome to my online portfolio. Here you can find some of my projects I've been working on, with some
        description and link to its GitHub page. If you want to learn more or if you want me to help you with
        your project, feel free to contact me.</p>

    <div class="btn-row">
        <a href="/contact" class="btn btn-primary">Contact Me</a>
    </div>

</section>

<hr>

<section>

    <div class="projects">

        <div class="project-card">
            <div class="project">
                <a href="https://github.com/malchikkCZ/alza-tracker" target="_blank">
                    <img src="./images/portfolio/alzatracker.png" alt="">
                </a>
                <div>
                    <h2>Alza Price Tracker</h2>
                    <p>Have you ever wanted to keep track of your favourite goods online? Here I use Selenium
                        and Beautiful Soup to scrap alza.cz of all Nintendo Switch games with notification on
                        news and price drops.</p>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project">
                <a href="https://replit.com/@ViktorBem/battleships?v=1" target="_blank">
                    <img src="./images/portfolio/battleships.png" alt="">
                </a>
                <div>
                    <h2>Battleships</h2>
                    <p>Everyone had played this game when they were small. I remember hundreds of hours in front
                        of my Commodore C64 playing Battleships and today I play with my kids. So here is my
                        very own text-based version of game.</p>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project">
                <a href="https://malchikkcz.github.io/JS-breakout/" target="_blank">
                    <img src="./images/portfolio/breakout.png" alt="">
                </a>
                <div>
                    <h2>Breakout</h2>
                    <p>Do you know history of this game? It involves Pong, Steve Jobs, Steve Wozniak... But I
                        don't want to spoil it here. So here is my version of this game, build with vanilla
                        JavaScript.</p>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project">
                <a href="https://malchikkcz.github.io/JS-calculator/" target="_blank">
                    <img src="./images/portfolio/calc.png" alt="">
                </a>
                <div>
                    <h2>Calculator</h2>
                    <p>If there is some app really missing on Apple iPad, it has to be calculator. So I was
                        wondering - am I capable of re-creating the very same app that is on iPhone with
                        JavaScript? Well, yes I am.</p>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project">
                <a href="https://malchikkcz.github.io/JS-minesweeper/" target="_blank">
                    <img src="./images/portfolio/minesweeper.png" alt="">
                </a>
                <div>
                    <h2>Minesweeper</h2>
                    <p>This was one of my first games when I was learning programming. First I made it as
                        text-based in Python and later used the same logic to re-create the same game in
                        JavaScript.</p>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project">
                <a href="https://malchikkcz.github.io/JS-snake/" target="_blank">
                    <img src="./images/portfolio/snake.png" alt="">
                </a>
                <div>
                    <h2>Snake</h2>
                    <p>I loved this game on my Nokia phone. It has always been my goal to create my own version
                        which my kids can play today and I must say that it was surprisingly easy.</p>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project">
                <a href="https://malchikkcz.github.io/JS-sudoku-solver/" target="_blank">
                    <img src="./images/portfolio/solver.png" alt="">
                </a>
                <div>
                    <h2>Sudoku Solver</h2>
                    <p>Have you ever tried to solve a Sudoku puzzle? It might become some quite difficult task,
                        so I created this app that solves any puzzle using recursion.</p>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project">
                <a href="https://malchikkcz.github.io/JS-tictactoe/" target="_blank">
                    <img src="./images/portfolio/tictactoe.png" alt="">
                </a>
                <div>
                    <h2>Tic-Tac-Toe</h2>
                    <p>Basic Tic-Tac-Toe game is first step when learning about advanced algorithms. Here I have
                        two difficulties - Easy uses random computer moves, but if you choose HARD, there is an
                        Minimax algorithm that never loses.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="btn-row">
        <a href="https://github.com/malchikkCZ" class="btn btn-primary" target="_blank">Visit my GitHub</a>
    </div>

</section>

<%- include('../partials/footer') %>